<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--[if lt IE 7]>
    <meta http-equiv="imagetoolbar" content="no" />
    <![endif]-->

    <title>KXStudio News</title>

    <link rel="copyright" href="http://creativecommons.org/licenses/publicdomain/" />
    <link rel="stylesheet" href="../css/style.fluid.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,700,800,400" type="text/css" media="screen" />
    <link rel="icon" type="image/png" href="../images/ico_kxstudio.png" />
    <link rel="shortcut icon" href="../favicon.ico" />
    {% if site.clean_urls %}<link rel="canonical" href="{% if (post.url) %}$post.clean{% elseif page.url %}$page.clean {% else %}$site.url{% endif %}" />{% endif %}
    $theme.feeds
    $theme.stylesheets
    $theme.javascripts
${ trigger.call("head") }
    <script type="text/javascript">
        function closeAllMenus(){
            var objSoftwareMenu     = document.getElementById("div_menuSoftware");
            var objRepositoriesMenu = document.getElementById("div_menuRepositories");
            var objCommunityMenu    = document.getElementById("div_menuCommunity");

            if (objSoftwareMenu.style.visibility == "visible")
                objSoftwareMenu.style.visibility = "hidden";

            if (objRepositoriesMenu.style.visibility == "visible")
                objRepositoriesMenu.style.visibility = "hidden";

            if (objCommunityMenu.style.visibility == "visible")
                objCommunityMenu.style.visibility = "hidden";
        };

        function menuItemClicked(event, menu, itemName){
            event.stopPropagation();

            closeAllMenus();

            //if (menu.style.visibility != "visible")
            {
                var leftPos = document.getElementById(itemName).getBoundingClientRect().left - 1;
                menu.style.left       = "" + leftPos + "px";
                menu.style.visibility = "visible";
            }
            //else
            //{
            //    menu.style.visibility = "hidden";
            //}

            return false;
        };

        function bodyClicked(){
            closeAllMenus();
            return true;
        };

        function itemSoftwareClicked(event)    { return menuItemClicked(event, document.getElementById("div_menuSoftware"),     "item-soft");      };
        function itemRepositoriesClicked(event){ return menuItemClicked(event, document.getElementById("div_menuRepositories"), "item-repos");     };
        function itemCommunityClicked(event)   { return menuItemClicked(event, document.getElementById("div_menuCommunity"),    "item-community"); };

    </script>
</head>
<body class="mediawiki ltr ns-0 ns-subject skin-bentofluid" onClick="return bodyClicked();">
    <!-- Software sub menu -->
    <div id="div_menuSoftware" class="div_menuDropdown">
        <p><a href="/Applications"><img src="/images/ico_cadence.png" alt=""/> &nbsp; Applications</a></p>
        <p><a href="/Plugins"><img src="/images/ico_distrho.png" alt=""/> &nbsp; Plugins</a></p>
    </div>
    <!-- Repositories sub menu -->
    <div id="div_menuRepositories" class="div_menuDropdown">
        <p><a href="/Repositories">About</a></p>
        <p><a href="/Repositories:Applications">Applications (in Repo)</a></p>
        <p><a href="/Repositories:Plugins">Plugins (in Repo)</a></p>
    </div>
    <!-- Support sub menu -->
    <div id="div_menuSupport" class="div_menuDropdown">
        <p><a href="/Documentation">Documentation</a></p>
    </div>
    <!-- Community sub menu -->
    <div id="div_menuCommunity" class="div_menuDropdown">
        <p><a href="https://discord.gg/GHuycpX" class="external" rel="nofollow" target="_blank"><img src="/images/ico_discord.png" alt=""/> &nbsp; Discord Server</a></p>
        <p><a href="http://webchat.freenode.net/?channels=#kxstudio,#opensourcemusicians" class="external" rel="nofollow" target="_blank"><img src="/images/ico_chat.png" alt=""/> &nbsp; IRC Channel</a></p>
        <p><a href="http://linuxmusicians.com/viewforum.php?f=47" class="external" rel="nofollow" target="_blank"><img src="/images/ico_forum.png" alt=""/> &nbsp; Web Forums</a></p>
        <p><a href="https://soundcloud.com/search/sounds?q=kxstudio" class="external" rel="nofollow" target="_blank"><img src="/images/ico_soundcloud.png" alt=""/> &nbsp; Songs</a></p>
    </div>

    <!-- Top link -->
    <a name="Top" id="Top"></a>

    <!-- Start: Header -->
    <div id="header">
        <div id="header-content" class="container_12">
            <a id="header-logo" href="/">
                <img src="../images/header-logo_mod.png" width="46" height="26" alt="Header Logo"/>
            </a>
            <a id="header-home" href="/" style="font-size:1.2em">Home</a>
            <ul id="global-navigation">
                <li id="item-news"><a href="/News">News</a></li>
                <li id="item-soft"><a href="/Applications" onClick="return itemSoftwareClicked(event);">Software &#9660;</a></li>
                <li id="item-repos"><a href="/Repositories" onClick="return itemRepositoriesClicked(event);">Repositories &#9660;</a></li>
                <li id="item-community"><a href="/Documentation" onClick="return itemCommunityClicked(event);">Community &#9660;</a></li>
                <li id="item-documentation"><a href="/Documentation">Documentation</a></li>
                <li id="item-donate"><a href="/Donations">Donations</a></li>
                <li id="item-downloads"><a href="/Downloads">Downloads</a></li>
                <li id="item-paste"><a href="/Paste">Paste</a></li>
            </ul>
        </div>
    </div>
    <!-- End: Header -->

    <div id="subheader" class="container_16">
        <div id="breadcrump" class="grid_12 alpha">
            <a href="/" title="Home"><img src="../images/home_grey.png" width="16" height="16" alt="Home" /> KXStudio </a>
                &gt; <a href="/News">News</a>
        </div>
    </div>

    <!-- Start: Main Content Area -->
    <div id="content" class="container_16 content-wrapper">
        <div id="some-content" class="box box-shadow grid_77 clearfix">
            <!-- Start: Box header -->
            <div class="box-header header-tabs">
                <ul>
                    <li><a href="#Top">Top</a></li>
                </ul>
            </div>
            <div id="contentSub"></div>
            <!-- End: Box header -->

            <div class="alpha omega paste_canvas_area">
                <div style="float: right; padding-right: 16px;">
                    <a href="{% url "feed" %}"><img src="../images/rss.png" alt="RSS"/></a>
                </div>
                <h1 style="margin-top: 0px"><span class="mw-headline"> KXStudio&nbsp;: News </span></h1>
<!-- - - - - - - - Begin Content Area - - - - - - - -->

<div id="wrapper">
    <div id="content">
	{% for type, messages in flash.all | items %}
	{% for message in messages %}
	<div class="${ type | depluralize }">$message</div>
	{% endfor %}
	{% endfor %}
{% block content %}{% endblock %}
	<div class="clear"></div>
	$posts.prev_link
	$posts.next_link
    </div>
    <div class="clear"></div>
</div>

<!-- - - - - - - - End Content Area - - - - - - - -->
            </div>
            <br/>
            <div class="box-footer header-tabs">
                <ul>
                    <li><a href="#Top">Top</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End: Main Content Area -->

    <!-- Note: this clears floating, set in previous elements -->
    <div class="clear"></div>
    <div id="footer"></div>
</body>
</html>
