Options -Indexes

Redirect 301 /cadence              https://kx.studio/Applications:Cadence
Redirect 301 /cadence-jackmeter    https://kx.studio/Applications:Cadence-JackMeter
Redirect 301 /cadence-jacksettings https://kx.studio/Applications:Cadence-JackSettings
Redirect 301 /cadence-logs         https://kx.studio/Applications:Cadence-Logs
Redirect 301 /cadence-render       https://kx.studio/Applications:Cadence-Render
Redirect 301 /cadence-xycontroller https://kx.studio/Applications:Cadence-XYController
Redirect 301 /catarina             https://kx.studio/Applications:Catarina
Redirect 301 /catia                https://kx.studio/Applications:Catia
Redirect 301 /claudia              https://kx.studio/Applications:Claudia
Redirect 301 /claudia-launcher     https://kx.studio/Applications:Claudia-Launcher
Redirect 301 /carla                https://kx.studio/Applications:Carla
Redirect 301 /carla-control        https://kx.studio/Applications:Carla-Control

Redirect 301 /applications  https://kx.studio/Applications
Redirect 301 /board         https://kx.studio/Board
Redirect 301 /documentation https://kx.studio/Documentation
Redirect 301 /donations     https://kx.studio/Donations
Redirect 301 /downloads     https://kx.studio/Downloads
Redirect 301 /news          https://kx.studio/News
Redirect 301 /plugins       https://kx.studio/Plugins
Redirect 301 /repositories  https://kx.studio/Repositories

Redirect 302 /kxstudio/News/install.php /kxstudio/News2

RedirectMatch 301 ^/KXStudio:(.*)$ /$1
RedirectMatch 301 ^/Documentation:Ubuntu:(.*)$ /Documentation:Repository:$1

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L,QSA]
