{% extends "content/post.twig" %}

{% block content %}
{% if post['title'] %}
                        <p>
                          <span style="font-size: 20px">&gt;
                            <a href="$post.url" rel="bookmark" title="${ "Permanent Link to" | translate } &quot;$post.title&quot;">$post.title</a>
                          </span><br/>
                          On <i>${ post.created_at | strftime("%Y-%m-%d") }</i> by<i> falkTX</i>
                        </p>
{% endif %}
                        ${ post.body | read_more }
{% endblock %}
